doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Home
      span -
      a(href='/jobs') Jobs
      span -
      a(href='/playlist') Playlists

    block content
